<div class="form-horizontal col-lg-6">
  <img src="/assets/avaliar.jpg"/>
</div>
<div align="center" class="col-lg-6">
  O SiCAD, Sistema de Compartilhamento e Avaliação de Desempenho,
    consiste em um website, desenvolvido e mantido por estudantes do curso de
    Engenharia de Software da Universidade de Brasília.
</div>
